@using EntityLayer.Concrate.EntityFramework
@model List<Blog>
<div id="journal" class="text-left paddsection">

    <div class="container">
        <div class="section-title text-center">
            <h2>Blog</h2>
        </div>
    </div>

    <div class="container">
        <div class="journal-block">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

                            <a href="/Blog/BlogDetails/@item.ID"><img style="width:400px;height:250px;" src="@item.Img" class="img-responsive" alt="img"></a>

                            <div class="journal-txt">

                                <h4><a href="/Blog/BlogDetails/@item.ID">@item.BlogHeader</a></h4>
                                <p class="separator">
                                    @item.BlogArticle1.Substring(0,50) ...
                                </p>

                            </div>

                        </div>
                    </div>
                }







            </div>
        </div>
    </div>

</div>