<div id="contact" class="paddsection">
    <div class="container">
        <div class="contact-block1">
            <div class="row">



                <div class="col-lg-12">
                    <h2 class="mb-30">GET IN TOUCH</h2>
                    <form action="/Home/AddMessage/" method="post" role="form">
                        <div class="row gy-3">

                            <div class="col-lg-6">
                                <div class="form-group contact-block1">
                                    <input type="text" name="User" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="UserMail" id="email" placeholder="Your Email" required>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Subject" id="subject" placeholder="Subject" required>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="UserMessage" placeholder="Message" required></textarea>
                                </div>
                            </div>



                            <div class="mt-0">
                                <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                            </div>

                        </div>
                    </form>

                </div>
                
                
            </div>
        </div>
    </div>
</div>
